.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
default.profraw
db.sqlite
.swiftpm
/.idea
/qemu_*.core
/Deployment/Release/*/
/Deployment/Release/*.tgz
/Deployment/e2e/traefik/certificates
/core
/dump.rdb
/Tests/e2e/helm/results
Public/images/generated/**/*
Deployment/Release/uitsmijter-*.tar
/Deployment/Runtime/dirty
