namespaceOverride: ""

image:
  repository: ghcr.io/uitsmijter/uitsmijter
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  pullPolicy: Always

imagePullSecrets: []

jwtSecret: "vosai0za6iex8AelahGemaeBooph6pah6Saezae0oojahfa7Re6leibeeshiu8ie"
redisPassword: "Shohmaz1"
storageClassName: ""

redis:
  image:
    repository: redis
    tag: "8.2.2"
  replicas: 3  # Testing with single instance to verify replication lag hypothesis

installCRD: true
installSA: true

config:
  # Log format options: console|ndjson
  logFormat: "console"
  # Log level options: trace|info|error|critical
  logLevel: "info"
  cookieExpirationInDays: 7
  tokenExpirationInHours: 2
  tokenRefreshExpirationInHours: 720
  # show the version information at /versions
  displayVersion: true

  crd:
    enabled: true
    scoped: false

resources:
  requests:
    memory: "256Mi"
    cpu: "500m"
  limits:
    memory: "512Mi"
    cpu: "2000m"

domains:
  - domain: "nightly.uitsmijter.io"
    tlsSecretName: "nightly.uitsmijter.io"
