name: Feature
permissions:
  contents: read
on:
  push:
    branches:
      - feature/**

env:
  STORE_ARTEFACTS: true
  RUN_LINTER: true
  RUN_UNITTESTS: true
  RUN_BUILD: true
  RUN_E2ETESTS: true

jobs:
  # Lint
  lint:
    name: Run Linter checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - uses: ./.github/actions/step-lint
        if: ${{ env.RUN_LINTER != 'false' }}

  unittest:
    name: Run UnitTest
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - uses: ./.github/actions/step-unittest
        if: ${{ env.RUN_UNITTESTS != 'false' }}

  # Build Binary
  build:
    name: Build Uitsmijter
    runs-on: ubuntu-latest
    needs:
      - lint
      - unittest
    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache; sudo apt-get remove -y '^dotnet-.*'; sudo apt-get remove -y 'php.*'; sudo apt-get remove -y azure-cli hhvm google-chrome-stable firefox powershell mono-devel; sudo apt-get autoremove -y; sudo apt-get clean; rm -rf /usr/share/dotnet/  
      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          lfs: true
      - uses: ./.github/actions/step-build
        if: ${{ env.RUN_BUILD != 'false' }}

  # End-2-End
  e2etest:
    name: Run E2E-Tests
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
    
      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          lfs: true

      - uses: ./.github/actions/step-e2e
        if: ${{ env.RUN_E2ETESTS != 'false' }}
        with:
          dirty: true
          fast: true

  # Notify
  notify_mattermost:
    name: Notify Mattermost
    permissions:
      contents: read
      statuses: read
      actions: read
      repository-projects: read
    needs:
      - e2etest
    if: always()
    uses: uitsmijter/workflows/.github/workflows/builds-mattermost.yaml@main
    secrets:
      WEBHOOK: ${{ secrets.MATTERMOST_WEBHOOK_BUILD }}

  notify_mastodon:
    name: Notify Mastodon
    permissions:
      contents: read
      statuses: read
      actions: read
      repository-projects: read
    needs:
      - e2etest
    if: always()
    uses: uitsmijter/workflows/.github/workflows/builds-mastodon.yaml@main
    secrets:
      MASTODON_URL: ${{ secrets.MASTODON_BUILDS_URL }}
      MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_BUILDS_TOKEN }}
