name: Nightly
on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  STORE_ARTEFACTS: true
  RUN_LINTER: true
  RUN_UNITTESTS: true
  RUN_BUILD: true
  RUN_E2ETESTS: true

jobs:
  # Run on a clean cache
  cleancache:
    name: Clean Cache
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: ./.github/actions/step-clear-cache
        with:
          volume: uitsmijter_build
      - uses: ./.github/actions/step-clear-cache
        with:
          volume: uitsmijter_node_modules

  # Lint
  lint:
    name: Run Linter checks
    permissions:
      contents: read
    needs:
      - cleancache
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: ./.github/actions/step-lint
        if: ${{ env.RUN_LINTER != 'false' }}
  unittest:
    name: Run UnitTest
    needs:
      - cleancache
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: ./.github/actions/step-unittest
        if: ${{ env.RUN_UNITTESTS != 'false' }}

  # Build Binary
  build:
    name: Build Uitsmijter
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs:
      - lint
      - unittest
    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache
      - name: Check out the repo
        uses: actions/checkout@v5
        with:
          lfs: true
          fetch-depth: 0
          fetch-tags: true
      - uses: ./.github/actions/step-build
        if: ${{ env.RUN_BUILD != 'false' }}
        with:
          release: true

  # End-2-End
  e2etest:
    name: Run E2E-Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - build
    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache    
      - name: Check out the repo
        uses: actions/checkout@v5
        with:
          lfs: true
      - uses: ./.github/actions/step-e2e
        if: ${{ env.RUN_E2ETESTS != 'false' }}
        with:
          dirty: false
          fast: false

  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    needs:
      - e2etest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: ./.github/actions/step-publish
        with:
          tag: nightly

  # Notify
  notify_mattermost:
    name: Notify Mattermost
    permissions:
      contents: read
      statuses: read
      actions: read
      repository-projects: read
    needs:
      - publish
    if: always()
    uses: uitsmijter/workflows/.github/workflows/builds-mattermost.yaml@main
    secrets:
      WEBHOOK: ${{ secrets.MATTERMOST_WEBHOOK_BUILD }}

  notify_mastodon:
    name: Notify Mastodon
    permissions:
      contents: read
      statuses: read
      actions: read
      repository-projects: read
    needs:
      - publish
    if: always()
    uses: uitsmijter/workflows/.github/workflows/builds-mastodon.yaml@main
    secrets:
      MASTODON_URL: ${{ secrets.MASTODON_BUILDS_URL }}
      MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_BUILDS_TOKEN }}
