name: Pull request
on:
  pull_request:
    types:
      - opened
      - reopened
      - ready_for_review

permissions:
  contents: read
env:
  STORE_ARTEFACTS: true
  RUN_LINTER: true
  RUN_UNITTESTS: true
  RUN_BUILD: true
  RUN_E2ETESTS: true
  RUN_PUBLISH: true

jobs:
  # Lint
  lint:
    name: Run Linter checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: ./.github/actions/step-lint
        if: ${{ env.RUN_LINTER != 'false' }}

  unittest:
    name: Run UnitTest
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - uses: ./.github/actions/step-unittest
        if: ${{ env.RUN_UNITTESTS != 'false' }}

  build:
    name: Build Uitsmijter
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - lint
      - unittest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
        with:
          lfs: true
      - uses: ./.github/actions/step-build
        if: ${{ env.RUN_BUILD != 'false' }}
        with:
          release: ${{ env.RUN_PUBLISH }}

  e2etest:
    name: Run E2E-Tests
    permissions:
      contents: read
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Delete huge unnecessary tools folder
        run: rm -rf /opt/hostedtoolcache    
      - name: Check out the repo
        uses: actions/checkout@v5
        with:
          lfs: true
      - uses: ./.github/actions/step-e2e
        if: ${{ env.RUN_E2ETESTS != 'false' }}
        with:
          dirty: true
          fast: false

  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    needs:
      - build
      - e2etest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
        if: ${{ env.RUN_PUBLISH != 'false' }}
      - uses: ./.github/actions/step-publish
        if: ${{ env.RUN_PUBLISH != 'false' }}
        with:
          tag: ${{ github.ref_name }}

  notify_mattermost:
    name: Notify Mattermost
    permissions:
      contents: read
      statuses: read
      actions: read
      repository-projects: read
    needs:
      - e2etest
    if: always()
    uses: uitsmijter/workflows/.github/workflows/builds-mattermost.yaml@main
    secrets:
      WEBHOOK: ${{ secrets.MATTERMOST_WEBHOOK_BUILD }}

  notify_mastodon:
    name: Notify Mastodon
    permissions:
      contents: read
      statuses: read
      actions: read
      repository-projects: read
    needs:
      - e2etest
    if: always()
    uses: uitsmijter/workflows/.github/workflows/builds-mastodon.yaml@main
    secrets:
      MASTODON_URL: ${{ secrets.MASTODON_BUILDS_URL }}
      MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_BUILDS_TOKEN }}
